# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/

# Mac files
.DS_Store

# Data files
attachments/
travel_output.xlsx

emails
emails1
other
travel 
Filtered_100
Filtered_50

